body {
    font-family: 'poppins', sans-serif;
    height: 100vh;
    background:linear-gradient(135deg,#8052ec,#d161ff);
}
.todo-container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
}
h1{
    color: #ffffff;
    text-align: center;
}
#newtask{
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
#todoInput{
    width: 70%;
    height: 45px;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
    border: 2px solid #d1d3d4;
    padding: 10px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 10px;
}

#todoInput:focus{
    outline: none;
    border-color: purple;
}
button{
    position: relative;
    float: right;
    width: 20%;
    height: 55px;
    border-radius: 5px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn {
    background-color: #8052ec;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}
.delete-btn:hover {
    background-color:#051650 ;
    transition: 0.3s all;
}